<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="timeSignal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <timeSignal.Properties.Settings>
            <setting name="ErrLogPath" serializeAs="String">
                <value>.\Log</value>
            </setting>
            <setting name="CultureInfoJp" serializeAs="String">
                <value>ja-JP</value>
            </setting>
            <setting name="TimeFormatJp" serializeAs="String">
                <value>tt hh時mm分</value>
            </setting>
            <setting name="DateFormatJp" serializeAs="String">
                <value>yyyy年MM月dd日(dddd)</value>
            </setting>
            <setting name="CultureInfoEn" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="TimeFormatEn" serializeAs="String">
                <value>hh:mm tt</value>
            </setting>
            <setting name="NotifyIconPath" serializeAs="String">
                <value>.\img\notify.ico</value>
            </setting>
            <setting name="NotifyStopIconPath" serializeAs="String">
                <value>.\img\notify_stop.ico</value>
            </setting>
            <setting name="RunToolStripMenuItem" serializeAs="String">
                <value>Start/Pause</value>
            </setting>
            <setting name="LanguageToolStripMenuItem" serializeAs="String">
                <value>en-US/ja-JP</value>
            </setting>
            <setting name="NotificationAppID" serializeAs="String">
                <value>{D65231B0-B2F1-4857-A4CE-A8E7C6EA7D27}\WindowsPowerShell\v1.0\powershell.exe</value>
            </setting>
            <setting name="ErrLogFileName" serializeAs="String">
                <value>Error.log</value>
            </setting>
        </timeSignal.Properties.Settings>
    </userSettings>
</configuration>