<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="timeSignalTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <timeSignalTests.Properties.Settings>
            <setting name="IODirectoryPath" serializeAs="String">
                <value>.\IOTest</value>
            </setting>
            <setting name="IOFilePath" serializeAs="String">
                <value>.\IOTest</value>
            </setting>
            <setting name="IOFileName" serializeAs="String">
                <value>IOTest.txt</value>
            </setting>
            <setting name="IODirectoryPathExt" serializeAs="String">
                <value>.\IOTest\</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>.\Log</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>LogTest.log</value>
            </setting>
            <setting name="ExFilePath" serializeAs="String">
                <value>.\ExTest</value>
            </setting>
            <setting name="ExFileName" serializeAs="String">
                <value>ErrorTest.log</value>
            </setting>
        </timeSignalTests.Properties.Settings>
    </userSettings>
</configuration>